

<!DOCTYPE html>
<html lang ='en'>
<head>
  <link rel='stylesheet' href='/style.css'>
  <meta charset = 'utf-16'>
  <title>Calculator</title>
</head>
<body>
<%= yield %>
</body>
<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about_us">about us</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
