<!-- <!DOCTYPE html>
<html lang ='eng'>
<head>
  <meta charset='utf-16'>
  <title>Sinatra Calculator</title>
</head>
<body>
  <h1> -->
    the result is <%= @calculation %>
  <!-- </h1>
</body>
</html> -->
